*{
    font-family: 'Roboto Mono', monospace;
    
}

.contenedor{
    box-sizing: content-box;
    margin: 5em;
    padding: 5px;
    max-width: fit-content;
    max-height: fit-content;
}

#instagram{

}

#whatsapp{

}

#gmail{
    
}