*{
    font-family: 'Roboto Mono', monospace;    
}
*::first-letter{
    text-transform: uppercase;
}

.contenedor{
    height: auto;
    display: block;
    width: fit-content;
    text-align: left;
    padding: 10px;
    margin: 10px 10px 25px;
    
}
.titulos{
    text-align: center;
    font-weight: bold;
}

#presentación{
    text-align: center;

}